* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.65rem;
}

body {
  background: linear-gradient(to bottom, #33ff88, #0059ff);
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Share Tech", sans-serif;
}

#sec1 {
  /* enable this in order to edit section 2 */
}

#logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  font-family: "Russo One", sans-serif;
}
/*if you want to use the animation for the logo id below then simply change position to relative. */
#logo {
  width: 300px;
}

@keyframes slideUP-Animation {
  0% {
    top: 0;
  }
  100% {
    top: -10vh;
  }
}

.slideUP {
  animation: slideUP-Animation 1s forwards;
}

#game-title {
  text-align: center;
  margin: 2px;
  color: white;
  -webkit-text-stroke: 1px black;
  opacity: 0;
}

@keyframes visibleOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visible {
  animation: visibleOn 0.5s forwards;
}

#startButton {
  display: flex;
  justify-content: center;
}

#pressStart {
  background-color: transparent;
  border: 0px solid black;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  transition: color 0.25s ease-in-out 0s;
}

#pressStart:hover {
  color: rgba(0, 0, 0, 0.25);
}

.flicker {
  animation: flicker-animation 1s ease-in-out infinite;
}

@keyframes flicker-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hidden {
  animation: visibleOFF 0.5s forwards;
}

@keyframes visibleOFF {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.pokeball {
  width: 50px;
  transition: all 0.25s ease-in-out 0s;
}

.pokeball:hover {
  transform: scale(1.25);
}

.choose-container {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 65%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: white;
  text-align: center;
}

.chooseMonster {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12.5px;
}

#sec2 {
  top: 25%;
  display: none; /* remove these 2 in order to edit section 2 */
  opacity: 0; /* remove these 2 in order to edit section 2 */
  position: fixed;

  color: white;
}

.monsterSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
.Pikachu {
  width: auto;
  height: 25vh;
  display: none;
  opacity: 0;
}
.Charmander {
  width: auto;
  height: 25vh;
  display: none;
  opacity: 0;
}
.Squirtle {
  width: auto;
  height: 25vh;
  display: none;
  opacity: 0;
}
.Bulbasaur {
  width: auto;
  height: 25vh;
  display: none;
  opacity: 0;
}

@keyframes showMonsterSelected {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.showMonster {
  animation: showMonsterSelected 1s forwards;
}

.hideMonster {
  animation: unselectMonster 1s forwards;
}

@keyframes unselectMonster {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* EXPLAIN HOW YOU DID THIS */
#myAudio {
  position: fixed;
  bottom: 50px;
  display: none;
  opacity: 0;
}

#selectSound {
  position: fixed;
  bottom: 50px;
  display: none;
  opacity: 0;
}

#monsterName {
  left: 0;
  right: 0;
  position: relative;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.startGame-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#startGame {
  width: auto;
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px 20px 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

#startGame:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#startGameAudio {
  position: fixed;
  bottom: 50px;
  display: none;
  opacity: 0;
}

#sec3 {
  position: fixed;
  display: none;
  opacity: 0;
  color: white;
}

.battle-container1 {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#enemyMonster {
  width: 100%;
}

#chosenMonster {
  width: 100%;
}

#chosenMonster img {
  margin: 25px auto;
  width: auto;
  height: auto;
  float: left;
}

#enemyMonster img {
  margin: 25px auto;
  width: auto;
  height: auto;
  float: right;
}

#attackBtn1 {
  width: 150px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  font-size: 1rem;
  color: white;
}

#attackBtn1:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#attackBtn2 {
  width: 150px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  font-size: 1rem;
  color: white;
}

#attackBtn2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#attackBtn3 {
  width: 150px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  font-size: 1rem;
  color: white;
}

#attackBtn3:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#attackBtn4 {
  width: 150px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  font-size: 1rem;
  color: white;
}

#attackBtn4:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.attackBtn-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.chosenMonsterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 50%;
  margin: 0 auto;
}
.healthBar-Container {
  width: 100%;
  height: 20px;
  margin: 5px auto;
}

#healthBar::before {
  position: absolute;
  content: "Health";
  width: 100%;
  height: auto;
  text-align: center;
}
#healthBar {
  color: black;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  position: relative;
}

#healthBar::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 5px;
}
#healthBar::-webkit-progress-value {
  background-color: rgb(0, 161, 40);
  border-radius: 5px;
}

.ehealthBar-Container {
  width: 100%;
  height: 20px;
  margin: 5px auto;
}

#ehealthBar::before {
  position: absolute;
  content: "Health";
  width: 100%;
  height: auto;
  text-align: center;
}
#ehealthBar {
  color: black;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  position: relative;
}

#ehealthBar::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  border-radius: 5px;
}
#ehealthBar::-webkit-progress-value {
  background-color: rgb(0, 161, 40);
  border-radius: 5px;
}

.chosenMonster-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

#chosenMonsterName {
}

#chosenMonsterName::before {
  content: var(--before-content);
}

.expBar-Container {
  width: 100%;
  height: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
}

#expBar::before {
  color: black;
  position: absolute;
  content: "exp";
  width: 100%;
  height: auto;
  text-align: center;
  top: -5px;
}
#expBar {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  position: relative;
}

#expBar::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.25);
}
#expBar::-webkit-progress-value {
  background-color: rgb(0, 255, 179);
}

#levelText::after {
  content: attr(data-value);
}

.enemyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 50%;
  margin: auto 0;
}
.enemyMonster-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

#enemyMonsterName {
}

#enemyMonsterName::before {
  content: var(--before-content);
}

#elevelText::after {
  content: attr(data-value);
}

.fadeAtk {
  animation: fadeAtk 0.15s forwards;
}

@keyframes fadeAtk {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 550px) {
  #chosenMonster img {
    position: relative;
    right: 50px;
    margin: 25px auto;
    width: auto;
    height: auto;
    float: left;
  }

  #enemyMonster img {
    position: relative;
    left: 75px;
    margin: 25px auto;
    width: auto;
    height: auto;
    float: right;
  }
  @keyframes voltTackle {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(35vw, -15vh);
    }
  }
}

@media screen and (max-width: 330px) {
  .atk-btn-set {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
}

#attackMoves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

#voltTackle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(117, 117, 0, 0.5);
  border-radius: 50%;
  display: none;
}

.voltTackle {
  animation: glowing 0.1s infinite, voltTackle 1s forwards;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px yellow;
  }
  50% {
    box-shadow: 0 0 20px yellow, 0 0 40px yellow;
  }
  100% {
    box-shadow: 0 0 5px yellow;
  }
}

@keyframes voltTackle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(45vw, -10.5vh);
  }
}
